/*/**/Dockerfile            linguist-generated
/*/**/docker-entrypoint.sh  linguist-generated
/Dockerfile*.template       linguist-language=Dockerfile

# Shell scripts
*.sh eol=lf
# Dockerfiles
Dockerfile eol=lf
